@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Vazirmatn-VariableFont_wght.ttf");
}

@font-face {
    font-family: titr;
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/Lalezar-Regular.ttf");
}