//variables
$primary-color: #aa4069 !default;
$smooth-primary-color: rgba(170,64,105,0.3) !default;
$light-color : #f8f9fa !default;
$secondary-color : #6c757d !default;
$success-color : #28a745 !default;
$danger-color : #dc3545 !default;
$warning-color : #ffc107 !default;
$info-color : #17a2b8 !default;
$dark-color : #343a40 !default;
$white-color : #ffffff !default;
$smooth-color : #eee !default;
$match-color: #4C40AA;